/* GENERAL STYLES */
body {
	font-family: Helvetica, Arial, sans-serif;
}

/* .hidden {
	display: none;
} */

/* BUTTON STYLES */

.btn-panel {
	margin-top: 20px;

	text-align: center;
}

.reset-btn {
	font-size: 14pt;
}

/* GAME BOARD STYLES */

.x-token {
	color: red;
}

.y-token {
	color: blue;
}

/* eventually move this up */
.hidden {
	color: white;
} 

.game-board {
	width: 300px;
	height: 300px;

	display: grid;
	grid-template-columns: repeat(3, 3fr);
	
	margin: 50px auto 0 auto;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
}

.game-cell {
	border-top: 1px solid black;
	border-right: 1px solid black;

	line-height: 100px;
	text-align: center;

	font-size: 30pt;
	font-weight: bold;
}


