/* GENERAL STYLES */
body {
	font-family: Helvetica, Arial, sans-serif;
}

header {
	margin: 25px auto 15px auto;
	text-align: center;
}

header .title {
	font-size: 35pt;
	font-weight: bold;
}


/* GAME BOARD STYLES */

.x-token {
	color: red;
}

.y-token {
	color: blue;
}

.hidden {
	color: white;
} 

.game-board {
	width: 350px;
	height: 350px;

	display: grid;
	margin: 0 auto;
	border-bottom: 2px solid black;
	border-left: 2px solid black;

	grid-template-columns: repeat(3, 3fr);
	grid-template-rows: repeat(3, 3fr);

	font-size: 40pt;
	font-weight: bold;
}

.game-cell {
	border-top: 2px solid black;
	border-right: 2px solid black;

	line-height: 100px;
	text-align: center;
}


/* BUTTON STYLES */

.btn-panel {
	margin-top: 20px;
	text-align: center;
}

.reset-btn {
	border: 1px solid black;
	border-radius: 20px;

	background-color: white;

	font-size: 14pt;
}


/* MESSAGE DISPLAY STYLES */

.msg-panel {
	margin-top: 30px;
	text-align: center;

	font-size: 14pt;
}